.skills-list-container {
   box-sizing: border-box;
   margin-bottom: 30px;
  transform: translateY(
    -100%
  ); /* Начальное состояние: элемент за пределами экрана снизу */
  animation: slide-in-top 1s ease-out forwards; /* Анимация с правильным синтаксисом */
}

.main-photo {
display: none;
}

.button-container{
display: none;
}

.skills-list {
  border-radius: 10px;
  background-color: rgb(200, 187, 187);
  padding: 30px 20px;
}

.title-skills{
    font-family: var(--font-family);
  font-size: 20px;
  color: var(--total-black);
  margin-bottom: 20px;
}

.skills {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(239, 234, 234);
  margin-bottom: 15px;
}

.skills-title {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 20px;
  color: var(--total-black);
}

.skills-desc {
  font-family: var(--font-family);
  font-size: 20px;
  color: var(--total-black);
}

@keyframes slide-in-top {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Start Media */

@media screen and (min-width: 550px) {
    .skills-list-container {
  width: 500px;
 margin-left: auto;
   margin-right:auto;
}
}

@media screen and (min-width: 1000px) {
    .skills-list-container {
  width: 100%;
  margin-bottom: 0;
}

.title-skills{
  font-size: 24px;

}

}
@media screen and (min-width: 1330px) {
  .skills-list-container {
  width: 400px;
   margin-bottom: 0;
}

.main-photo {
  display: flex;

  width: 300px;
  height: 300px;

  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 20px;
}

.button-container{
  display: flex;
  justify-content: center;
}

.skills-list {
  padding: 30px;
}

.watch-video-button{
width: 180px;
height: 80px;
border: none;
border-radius: 5px;
background-color: bisque;

margin-right: 30px;
}

.nav-video{
      font-family: var(--font-family);
  font-size: 20px;
  color: rgb(210, 22, 160);
}

.watch-video-button:hover {
  background-color: rgb(205, 119, 14);
}

.watch-video-button:hover .nav-video {
  color: rgb(225, 216, 222);
}

.watch-photos-button{
  width: 180px;
height: 80px;
border: none;
border-radius: 5px;
background-color: saddlebrown;
}

.nav-photos{
    font-family: var(--font-family);
  font-size: 20px;
  color: rgb(24, 202, 83);
}

.watch-photos-button:hover{
  background-color: rgb(207, 199, 40);
}

.watch-photos-button:hover .nav-photos{
 color: rgb(23, 37, 28);
}



.watch-video-button.nav-video:hover{
  background-color: saddlebrown;
 color: rgb(24, 202, 83);
}


.watch-video-button, .watch-photos-button{
  transition: background-color 0.6s ease-out; /* Переходы для плавности */
}

.nav-video, .nav-photos{
  transition: color 0.6s ease-out;
}

.flex-container{
  margin-top: 30px;
}

.skills-title {
  font-size: 24px;
}

}
