:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #F2ECEC;

   --font-family: Arial, sans-serif;
  --nav-title-color: rgb(93, 23, 113);
  --total-black: black;

  --hover-nav-title: rgb(27, 212, 113);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
padding: 0;
margin: 0;
}

ul{
  padding: 0;
margin: 0;
}

li{
  text-decoration: none;
  list-style: none;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}
