.parameters-list-container{
  width: 400px;

 border-radius: 10px;
    background-color: rgb(200, 187, 187);
    padding: 30px 20px;
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in-left 1s ease-out forwards; /* Используем свойство animation */
}

.parameters-container{
display: flex;
flex-direction: column;
align-items: center;
}

.list-container-params{
  width: 350px;
    display: flex;
    align-items: center;
 padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: rgb(239, 234, 234);
}

.list-container-params.age{
    margin-bottom: 15px;
}

.title{
 font-family: var(--font-family);
 font-weight: normal;
  font-size: 20px;
  color: var(--total-black);
  margin-right: 10px;

}

.main-title{
     font-family: var(--font-family);
  font-size: 24px;
  color: var(--total-black);
  margin-bottom: 20px;
}


@keyframes slide-in-left {
  to{
    opacity: 1;
    transform: translateX(0);
  }
}